/* global MainController */

<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>
     <!-- CSS -->
<!--  <link rel="stylesheet" href="assets/twitter-bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/twitter-bootstrap/css/bootstrap-theme.min.css" />
   JS 
  <script src="assets/angular/angular.min.js"></script>
  <script src="assets/angular/angular-route.min.js"></script>
  <script src="assets/angular/angular-animate.min.js" ></script>
  <script src="assets/angular/toaster.js"></script>
  <script src="assets/js/atTheStudents.js"></script>
  <script src="assets/js/controllerJS.js"></script>-->
  

<!-- define angular controller -->
<body> 
    <!--ng-app = "atTheStudents">-->
<div ng-controller = "MainController">
        <!--ng-controller="taskManagerController">-->
<h2 class="page-title">Task Manager using Spring MVC 4 Rest &amp; AngularJS</h2>
<h4 class="page-title">Demo &amp; Tutorial by <a href="">Priyadarshini</a></h4>
<!--<a href="http://www.programming-free.com/2014/06/crud-springmvc-restful-webservices-angularjs.html" class="button-red" style="text-align:center;width:70px;margin-left:45%;margin-right:40%">Tutorial</a>-->	
	
<div id="task-panel" class="fadein fadeout showpanel panel"  ng-show="toggle">	
		<div class="panel-heading">
			<i class="panel-title-icon fa fa-tasks"></i>
			<span class="panel-title">Recent Tasks</span>
			<div class="panel-heading-controls">
				<button ng-click="toggle = !toggle" class="btn-panel">Add New Task</button>
				<button class="btn-panel" confirmed-click="archiveTasks()" ng-confirm-click="Would you like to archive completed tasks?">Clear completed tasks</button>
			</div>
		</div>
		<div class="panel-body">
			<div class="task" ng-repeat="task in tasks">
				<span ng-if="task.taskPriority=='HIGH'" class="priority priority-red">
					{{task.taskPriority}}
				</span>
				<span ng-if="task.taskPriority=='MEDIUM'" class="priority priority-yellow">
					{{task.taskPriority}}
				</span>
				<span ng-if="task.taskPriority=='LOW'" class="priority priority-green">
					{{task.taskPriority}}
				</span>
				<div class="action-checkbox">
					<input id="{{task.taskId}}" type="checkbox" value="{{task.taskId}}" ng-checked="selection.indexOf(task.taskId) > -1" ng-click="toggleSelection(task.taskId)" />
	  				<label for="{{task.taskId}}"></label>		
				</div>
				<div ng-if="task.taskStatus=='COMPLETED'">				
					<a href="#" class="checkedClass">
						{{task.taskName}}
					<span class="action-status">{{task.taskStatus}}</span>
					</a>
				</div>
				<div ng-if="task.taskStatus=='ACTIVE'">				
					<a href="#" class="uncheckedClass">
						{{task.taskName}}
						<span class="action-status">{{task.taskStatus}}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="add-task-panel" class="fadein fadeout addpanel panel" ng-hide="toggle">
		<div class="panel-heading">
			<i class="panel-title-icon fa fa-plus"></i>
			<span class="panel-title">Add Task</span>
			<div class="panel-heading-controls">
				<button ng-click="toggle = !toggle" class="btn-panel">Show All Tasks</button>
			</div>
		</div>
		<div class="panel-body">
			<div class="task" >
				<table class="add-task">
					<tr>
						<td>Task Name:</td>
						<td><input type="text" ng-model="taskName"/></td>
					</tr>
					<tr>
						<td>Task Description:</td>
						<td><input type="text" ng-model="taskDesc"/></td>
					</tr>
					<tr>
						<td>Task Status:</td>
						<td>
							<select ng-model="taskStatus" ng-options="status as status for status in statuses">
								<option value="">-- Select --</option>						
						     	</select>
						</td>
					</tr>
					<tr>
						<td>Task Priority:</td>
						<td>
							<select ng-model="taskPriority" ng-options="priority as priority for priority in priorities">
								<option value="">-- Select --</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><br/><button ng-click="addTask()" class="btn-panel-big">Add New Task</button></td>
					</tr>
				</table>								
			</div>
		</div>
	</div>
</div>
 <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">Single Page Application</a>
      </div>      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
        <li><a href="#/site/about"><i class="glyphicon glyphicon-tag"></i> About</a></li>
        <li><a href="#/site/contact"><i class="glyphicon glyphicon-envelope"></i> Contact</a></li>
      </ul>
    </div>
  </nav>
    
  <div id="main" class="container"> 
    <!-- angular templating -->
        <!-- this is where content will be injected -->
    <div ng-view></div>    
  </div>
</body>
</html>